body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Navbar Section */
.navbar {
  background-color: #ff6600;
  display: flex;
  align-items: center;
  position: fixed;
}
.navbar .logo {
  display: flex;
  gap: 20px;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
  padding: 15px;
  margin-left: 40px;
}

.navbar h4 {
  font-size: 15px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 15px;
  gap: 75px;
  margin-left: 250px;
}

.navbar a {
  padding: 5px;
  text-decoration: none;
  color: #ffff;
  font-weight: 650;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffd6a5;
}

/* Hero Section */
.hero {
  justify-content: space-between;
  align-items: center;
  padding: 250px 10%;
  flex-wrap: wrap;
  background: url("background.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.15);
}

.hero-text h2 {
  font-size: 40px;
  margin: 0;
  color: orange;
}

.hero-text h2 span {
  color: #ff4500;
}

.hero-text p {
  font-size: 25px;
  margin-top: 10px;
  color: white;
}

.btn {
  background-color: #ff4500;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
  transition: background 0.3s ease;
}

/* Menu Section */
.menu-section {
  margin-top: 10px;
  text-align: center;
  padding: 60px;
  background-color: #ff66008c;
  border-radius: 12px;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.15);
}

.menu-section h2 {
  color: #ff6600;
  font-size: 28px;
}
.menu-section h4 {
  color: #ffff;
  font-size: 15px;
}

.menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.menu-item {
  background-color: #fff7ef;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  color: #d9480f;
  margin: 10px 0 5px;
}

/* Tentang Section */
.tentang-kami {
  text-align: center;
  padding: 60px 10%;
  background-color: #fff3e6;
}

/* Kontak Section */
.kontak-kami {
  text-align: center;
  background-color: #ff66008c;
  color: white;
}
.kontak-kami h2 {
  margin-bottom: 15px;
}
.kontak-info p {
  margin: 5px 5px 5px 5px;
}
